<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid Tracker</title>
    <link rel="icon" href="images/cv2.png" type="image/icon type">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://kit.fontawesome.com/b4aee49aa2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>

    <!-- Nav Bar -->

    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">COVID-19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">World</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/india">India</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/documentation">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About-me</a>
            </li>

        </ul>
        </div>
    </nav>

    <!-- content -->

    <div class="containerone">
      <section id="intro">
        <div class="row rep justify-content-md-center">
          <div class="col-lg-6 image-dec">
            <img class="title-image" src="images/puneeth.png" alt="puneeth">
            <div class="icons">
              <a href="https://www.linkedin.com/in/puneeth-sai-6653091a8/" target="_blank"><i class="fab fa-linkedin color"></i></i></a>
              <a href="https://puneeth-sai-k.github.io/puneeth-sai/" target="_blank"><i class="far fa-address-card color"></i></a>
              <a href="https://github.com/puneeth-sai-k" target="_blank"><i class="fab fa-github-square color"></i></a>
              <a href="https://medium.com/@sai.kethamreddy666" target="_blank"><i class="fab fa-medium color"></i></a>
            </div>
          </div>
          <div class="col-lg-6 about">
            <h1 class="top-head"><b>Hello,</b></h1>
            <h2><b>a bit about me;</b></h2>
            <br><br>
            <p>WHO //----- K.PUNEETH SAI</p>
            <p>WHAT //----- STUDENT AND FRONT-END-DEVELOPER</p>
            <p>WHERE //----- INDIA,ANDHRA-PRADESH</p>
            <p>WHEN // -----2020-PRESENT</p>
            <p>WHY //----- PASSION</p>
          </div>
        </div>
      </section>

    </div>


   <!-- contact -->

   <div class="containerone">
     <h3 class="section-title"><b>Contact Me</b></h3>
     <form action="mailto:sai.kethamreddy666@gmail.com" method="post" enctype="text/plain" class="form">
       <input type="text" name="name" class="form-control input" placeholder="Enter your name" required><br>
       <input type="email" name="email" class="form-control input" placeholder="Enter the mail" required><br>
       <textarea name="message" class="form-control" placeholder="Message" rows="3" required></textarea><br>
       <input type="submit" name="" class="form-control submit" value="SEND MESSAGE">
     </form>

   </div>


    <!-- footer -->

    <footer class="footer">
      <a class="color" href="mailto:sai.kethamreddy666@gmail.com"><i class="social-icon remo fas fa-envelope"></i></a>
      <a class="color" href="https://www.facebook.com/profile.php?id=100007448627469"><i class="social-icon fab fa-facebook-f"></i></a>
      <a class="color" href="www.twitter.com"><i class="social-icon fab fa-twitter"></i></a>
      <a class="color" href="https://www.instagram.com/puneeth1547/"><i class="social-icon fab fa-instagram"></i></a>
      <p class="p-footer">© Copyright 2020</p>
    </footer>

    <script src="/javascript/map.js" charset="utf-8" type="text/javascript"></script>

  </body>
</html>
